### Importing Packages and Reading Data From Source

In [ ]:
import numpy as np                                   
import pandas as pd 
import pandas_profiling
!pip install pandas_profiling                        
import matplotlib.pyplot as plt                      
import seaborn as sns                               
%matplotlib inline                                   
sns.set()
    
movies_data = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/1000%20movies%20data.csv")     #Import dataset using pd.read_csv

### Understanding Data

In [18]:
movies_data.shape

(1000, 12)

In [19]:
movies_data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [20]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.8+ KB

In [21]:
movies_data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [23]:
movies_data.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### Generating Profiling File

In [ ]:
%config IPCompleter.greedy=True     # To enable auto complete in notebook

profile = pandas_profiling.ProfileReport(movies_data)
profile.to_file(outputfile="movies_before_preprocessing.html")

### To check whether movie The Host was Repeated

In [31]:
movies_data[movies_data['Title'] == "The Host"]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
239,240,The Host,"Action,Adventure,Romance",When an unseen enemy threatens mankind by taki...,Andrew Niccol,"Saoirse Ronan, Max Irons, Jake Abel, Diane Kruger",2013,125,5.9,96852,26.62,35.0
632,633,The Host,"Comedy,Drama,Horror",A monster emerges from Seoul's Han River and f...,Bong Joon Ho,"Kang-ho Song, Hee-Bong Byun, Hae-il Park, Doon...",2006,120,7.0,73491,2.20,85.0

### Preprocessing

In [83]:
movies_data["Metascore"] = movies_data.groupby("Genre")["Metascore"].transform(lambda x: x.fillna(x.mean()))
movies_data["Metascore"]

0         1.0
1         2.0
2         3.0
3         4.0
4         5.0
5         6.0
6         7.0
7         8.0
8         9.0
9        10.0
10       11.0
11       12.0
12       13.0
13       14.0
14       15.0
15       16.0
16       17.0
17       18.0
18       19.0
19       20.0
20       21.0
21       22.0
22       23.0
23       24.0
24       25.0
25       26.0
26       27.0
27       28.0
28       29.0
29       30.0
        ...
970     971.0
971     972.0
972     973.0
973     974.0
974     975.0
975     976.0
976     977.0
977     978.0
978     979.0
979     980.0
980     981.0
981     982.0
982     983.0
983     984.0
984     985.0
985     986.0
986     987.0
987     988.0
988     989.0
989     990.0
990     991.0
991     992.0
992     993.0
993     994.0
994     995.0
995     996.0
996     997.0
997     998.0
998     999.0
999    1000.0
Name: Metascore, Length: 1000, dtype: float64

In [87]:
movies_data["Revenue (Millions}"]= movies_data["Revenue (Millions)"].fillna(movies_data['Revenue (Millions)'].mode()[0])
movies_data["Revenue (Millions)"]

0      333.13
1      126.46
2      138.12
3      270.32
4      325.02
5       45.13
6      151.06
7         NaN
8        8.01
9      100.01
10     234.02
11     169.27
12     532.17
13     248.75
14       2.87
15     368.31
16      67.12
17     162.16
18      51.69
19     100.50
20       7.22
21      47.70
22        NaN
23     153.69
24     103.14
25        NaN
26       6.50
27       0.01
28     113.08
29      54.65
        ...
970     34.33
971     80.05
972     38.51
973     38.18
974      8.81
975     59.57
976       NaN
977       NaN
978       NaN
979      3.19
980     61.69
981     85.91
982     24.34
983     82.39
984     42.65
985     21.56
986     42.58
987     23.39
988       NaN
989     52.07
990     45.80
991      1.20
992      6.92
993     60.13
994     54.72
995       NaN
996     17.54
997     58.01
998       NaN
999     19.64
Name: Revenue (Millions), Length: 1000, dtype: float64

### Problem Statement:

- My problem statement was : If the director was Ridley Scott, what was the average revenue generated.

I could not proceed by filling the missing values, hence I could not complete my analysis.

Please assist me in filling the missing values. I tried by all methods, tried to Google as well.